html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('/images/background.jpg');
  background-size: cover;
}

.main-carousel {
  height: calc(100% - 45px);
}

.carousel-cell {
  height: 100%;
  width: 100%;
}

.universe {
  height: calc(100% - 65px);
}

.foot {
  width: 100%;
  margin: 0;
  color: greenyellow;
  a {
    color: white;
  }
}

nav.nav-center ul {
    text-align: center;

    li {
      display: inline;
      float: none;

      a {
        display: inline-block;
        color: greenyellow;
        @media (max-width: 400px) {
          padding: 0 5px;
        }
      }

      img {
        max-height: 100%;
      }
    }
}

.cell-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;

  .container {
    width: 100%;
    justify-content: center;
  }

}

.nav a img {
  pointer-events: none;
}

.blog-card {
  color: greenyellow;
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px;
}

.project-card {
  border-radius: 10px;
  overflow: hidden;
  color: greenyellow;
  background-color: rgba(0,0,0,0.5);

  .card-action {
    text-transform: lowercase;
  }

}

.projects-top {
  color: greenyellow;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}