html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('/images/background.jpg');
  background-size: cover;
}

.main-carousel {
  height: calc(100% - 45px);
}

.carousel-cell {
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.universe {
  height: calc(100% - 65px);

}

.foot {
  width: 100%;
  margin: 0;
  color: greenyellow;
  a {
    color: white;
  }
}

nav.nav-center ul {
    text-align: center;

    li {
      display: inline;
      float: none;

      a {
        display: inline-block;
        color: greenyellow;
      }
    }
}

.cell-content {
  width: 100%;
}