html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-image: url('/images/background.png');
  background-size: cover;
}

.main-carousel {
  height: 100%;
  width: 100%;
}

.carousel-cell {
  height: 100%;
  width: 100%;
}

.universe {
  height: calc(100% - 108px);
}

.foot {
  width: 100%;
  margin: 0;
  color: greenyellow;
  a {
    color: white;
  }

  background-color: rgba(0,0,0,0.8);
}

nav.nav-center {
  background-color: rgba(0,0,0,0.8) !important;
}

nav.nav-center ul {
    text-align: center;

    li {
      display: inline;
      float: none;

      a {
        display: inline-block;
        color: greenyellow;
        @media (max-width: 400px) {
          padding: 0 5px;
        }
      }

      img {
        max-height: 100%;
      }
    }
}

.cell-content {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  margin: 0;
  padding: 0;

  .container {
    width: 100%;
    justify-content: center;
    @media screen and (min-width: 601px) {
      padding: 0 64px 0 64px;
    }
  }

}

.nav a img {
  pointer-events: none;
}

.blog-card {
  color: greenyellow;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
}

.project-card {
  border-radius: 10px;
  overflow: hidden;
  color: greenyellow;
  background-color: rgba(0,0,0,0.8);

  .card-action {
    text-transform: lowercase;
  }

}

.projects-hint {
  color: greenyellow;
  background-color: rgba(0,0,0,0.8);
  border-radius: 10px;
  padding: 2px 5px; 
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.socialmedia {
  max-height: 50px;
}

.contact-card {
  border-radius: 10px;
  overflow: hidden;
}

.card-stacked {
  .card-action {
    text-align: center;
  }

  .card-content p {
    margin: 5px 0;
  }
}

#welcome {
  color: greenyellow;

  .welcome-hint {
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px;
    padding: 2px 5px;
  }
}

#techs img {
  background-color: rgba(0,0,0,0.8);
  padding: 10px;
  border-radius: 20px;
  font-size: 10rem;
  color: greenyellow;
  width: 100%;
}

#techs .col {
  padding-bottom: 3em;
}

.techs {
  margin-top: 20px;
}

.circuit-head {
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.landing-page {
  background: rgba(0,0,0,0.8);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.flickity-prev-next-button {
  display: none;
}

.flickity-prev-next-button.previous {
  left: 20px;
}

.flickity-prev-next-button.next {
  right: 20px;
}

@media only screen and (min-width: 601px) {
  .project-card-holder {
    margin: auto;
  }

  .flickity-prev-next-button {
    display: inline-block;
  }

}
